@media screen {
  body {
    margin: 0;
    padding: 0vw;
    background-color: #00b359;
    overflow-x: hidden;
  }

  h6{
    font-family: 'Elaine';
    font-size: 2vw !important;
    margin: 0;
    margin-top: 3vh;
    font-weight: normal;
    width: 66vw;
  }

  .tuto {
    width: 46vw;
    margin-left: 45vw;
    margin-top: -15vh;
    margin-bottom: 8vh;
    box-shadow: 4px 4px 12px 0px rgba(255,128,128,1);
  }

  h2{
    display: none;
  }

  h3 {
    font-size: 5vw;
    padding: 0vh;
    margin-top: 0vh;
    margin-left: 3vw;
    padding-top: 5vh;
    font-family: 'Space Mono';
    text-indent: 0vw;
    font-weight: normal;
    line-height: 97%;
    width: 40vw;
    border: 0px solid #00b359;
    text-decoration: none;
    text-decoration-style: dotted;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: white;
    color: #00b359;
  }

  .select {
    background-color: #668cff;
    color: #ffe6cc;
  }

  pre {
    width: 41vw;
    z-index: 100000;
    font-family: 'Space Mono';
    font-size: 1.3vw;
    padding: 0;
    color: #ff8080;
    background-color: #ffe6cc;
    line-height: 120%;
    margin: 0;
    margin-left: 3vw;
    margin-top: 8vh;
    margin-bottom: 1vh;
    -webkit-text-stroke : 0.3px;
    letter-spacing: 1px;
  }

  .print {
    position: fixed;
    top: 2.25vh;
    left: 6vw;
    font-family: 'ElaineTest';
    font-weight: normal;
    font-size: 1.3vw;
    background-color: #e6fff3;
    border-radius: 50px;
    padding: 1vh;
    color: #ff8080;
    z-index: 100000;
    box-shadow: 4px 4px 12px 0px rgba(255,128,128,1);
  }

  .code {
    color: #ff8080;
    background-color: #ffe6cc;
    font-family: 'Space Mono';
    -webkit-text-stroke: 0.3px;
    letter-spacing: 1px;
  }

  p {
    font-family: 'Elaine';
    margin: 0;
    color: #00b359;
    padding-left: 3vw;
  }

  p:first-of-type {
    margin-top: 3vh;
  }

  p:last-of-type {
    margin-bottom: 5vh;
  }

  pre.code_full {
    font-size: 1.3vw;
    margin-left: 0;
    margin-top: 0;
    width:30.5vw;
  }

  .type {
    background-color: #e6fff3;
    color: #00b359;
  }

  .fonction {
    background-color: cornsilk;
    color: #00b359;
  }

  .typep {
    background-color: #ffe6cc;
    color: #00b359;
  }

  .fonctionp {
    background-color: cornsilk;
    color: #00b359;
  }

  .processing {
    background-color: #e6fff3;
    color: #ff8080;
    font-family: 'Space Mono';
  }

  #onglets {
    font-family: 'Elaine';
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 52vw;
    width: 47vw;
    top: 8.25vh;
    z-index: 100001;
    box-shadow: 8px 8px 8px 4px rgba(255,128,128,1);
  }

  #onglets > div {
    border: 2px solid #ff8080;
    border-right: 0px solid #ff8080;
    flex-grow: 1;
    text-align: center;
    padding: 1.15vw;
    background-color: white;
    color: #ff8080;
  }

  #onglet_circuit {
    background-color: LightGoldenRodYellow;
  }

  #onglets > div:last-of-type {
    border-right: 2px solid #ff8080;
  }

  #onglet_circuit:hover {
    background-color: LightGoldenRodYellow;
    color: #00b359;
  }

  #onglet_code:hover, #onglet_code2:hover {
    background-color: #ffe6cc;
    color: #00b359;
  }

  #onglet_html:hover, #onglet_css:hover, #onglet_js:hover {
    background-color: #e6fff3;
    color: #00b359;
  }

  #block_code {
    position: fixed;
    left: 52vw;
    top: 17.7vh;
    width: 47vw;
    height: 82vh;
    color: #ff8080;
    background-color: #ffe6cc;
    overflow-y: scroll;
    z-index: 10000;
  }

  #block_code > p {
    font-family: 'Elaine';
    font-size: 2vw;
    padding: 1vw;
    padding-left: 2vw;
    color: #ff8080;
    border-bottom: 1px solid #ff8080;
    margin: 0;
    display: none;
  }

  #block_code2 {
    position: fixed;
    left: 52vw;
    top: 17.7vh;
    width: 47vw;
    height: 82vh;
    color: #ff8080;
    background-color: #ffe6cc;
    overflow-y: scroll;
  }

  #block_code2 > p {
    display: none;
  }

  #block_html, #block_css, #block_js {
    position: fixed;
    left: 52vw;
    top: 17.7vh;
    width: 47vw;
    height: 82vh;
    color: #ff8080;
    background-color: #e6fff3;
    overflow-y: scroll;
  }

  #block_html > p, #block_css > p, #block_js > p {
    display: none;
  }

  #block_html > pre, #block_css > pre, #block_js > pre {
    background-color: #e6fff3;
  }

  #firmata {
    top: 8.5vh !important;
    height:91.5vh;
  }

  .proc {
    background-color: #e6fff3;
    font-family: 'Space Mono';
    color: #ff8080;
    -webkit-text-stroke : 0.3px;
    letter-spacing: 1px;
  }

  .main > p.large {
    width: 66vw;
  }

  .main {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 8.75vh;
    left: 4.5vw;
    padding: 0vh;
    padding-bottom: 5vh;
    width: 97vw;
    background-color: white;
    z-index: -12;
    min-height: 90vh;
    margin-top: 0vh;
    padding-top: 0vh;
  }

  .main > p.intro {
    width: 66vw;
    font-size: 3vw !important;
  }

  .main > p, .circuitb, .circuit {
    width: 36vw;
    font-size: 1.5vw;
    margin-bottom: 1vh;
    margin-left: 2vw;
  }

  .texte > p:last-of-type {
    margin-bottom: 5vh;
  }

  .circuitb {
    width: 36vw;
    font-size: 1.5vw;
    margin-bottom: 4vh;
    margin-left: 2vw;
  }

  .full {
    width: 95vw !important;
  }

  .large_full {
    width: 36vw !important;
    margin-top: 5vh;
  }

  .large_full > a  {
    text-decoration: underline;
    text-decoration-color: #ff8080;
    color: #ff8080;
  }

  h4 {
    font-family: 'Space Mono';
    letter-spacing: 2px;
    -webkit-text-stroke: 0.01em;
    font-size: 4vw;
    font-weight: normal;
    color: #00b359;
    width: 90vw;
    border-bottom: 1px solid #00b359;
    padding: 2vh;
    padding-left: 3vw;
    margin-bottom: 0vh;
    margin-top: 10vh;
    font-weight: normal;
    text-decoration: none;
  }

  h5 {
    font-family: 'Elaine';
    font-size: 2.2vw;
    color: #ff8080;
    margin-left: 3vw;
    margin-bottom: 0vh;
    margin-top: 10vh;
    font-weight: normal;
    border-bottom: 2px solid #ff8080;
    padding-bottom: 1vh;
    display: inline-block;
  }

  .command {
    margin-top: 2vh;
    width: 88.5vw;
    margin-bottom: 2vh
  }

  #intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 2vh;
    width: 70vw;
    margin-top: 5vh;
    margin-left: 1vw;
    z-index: 1;
  }

  #intro > p {
    width: 40vw;
    margin-left: 0;
  }

  #intro > div {
    width: 15vw;
    margin-right: 2vw;
    margin-bottom: 3vh;
  }

  #intro > div > img {
    width: 15vw;
  }

  #intro > div > p {
    margin-left: 0;
    font-size: 1.2vw;
    margin-bottom: 1vh;
  }

  p.image {
    width: 20vw !important;
    height: 20vh;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  h1 {
    display: none;
  }

  .grille {
    position: absolute;
    left: 22vw;
    top: 0vh;
    padding-top: 2vh;
    width: 75vw;
    padding-left: 2vw;
    background-color: #ffe6cc;
    display: flex;
    flex-direction: column;
  }

  .arduino {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 3vw;
    padding-bottom: 7vh;
    margin-bottom: 5vh;
    border-bottom: 1px solid #ff8080;
  }

  .arduino > p:first-of-type {
    font-size: 4.5vw;
    font-family: 'Fablab';
    text-transform: uppercase;
    color: #00b359;
    margin-bottom: 2vh;
    margin-top: 2.5vh;
    margin-left: 2.5vw;
    padding: 0vw;
    vertical-align: middle;
    border-left: 2px dotted black;
    border-right: 2px dotted black;
    border-radius: 200px;
    width: 60vw;
    text-align: center;
  }

  .arduino > p:last-of-type {
    color: #ffe6cc;
    font-size: 3.5vw;
    width: 0;
  }

  .projet {
    width: 20vw;
    height: 32vh;
    display: flex;
    flex-direction: column;
    border: 1px solid #ff8080;
    background-color: white;
    margin: 2vh;
    padding-bottom: 1vh;
    box-shadow: 4px 4px 12px 0px rgba(255,128,128,1);
  }

  .projet > a > img {
    height: 33vh;
    transform: rotate(-90deg);
    margin-top: -8vh;
    margin-left: 7vw;
  }

  .projet > a {
    margin: 0;
    padding: 0;
  }

  .projet > a > p {
    margin: 0;
    padding: 1.5vh;
    margin-bottom: 4vh;
    border-bottom: 1px solid #ff8080;
    font-size: 1.6vw;
    font-family: 'Elaine';
    background-color: #ffe6cc;
    -webkit-text-stroke: 0.75px;
    -webkit-text-stroke-color: #668cff;
    line-height: 110%;
    -webkit-text-fill-color: white;
  }

  #entete {
    font-family: 'Fablab';
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    top: 9vh;
    left: -2.2vw;
    padding: 1vh;
    width: 8vw;
    color: white;
    transform: rotate(-90deg);
    font-size: 1.7vw;
    text-align: right;
  }

  #menu {
    font-family: 'ElaineTest';
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: fixed;
    top: 0vh;
    left: 4.5vw;
    width: 93vw;
    height: 5vh;
    font-size: 1.75vw;
    padding: 2vh;
    margin: 0vw;
    color: white;
    background-color: #668cff;
    z-index: 10000;
    -webkit-text-stroke: 0.25px;
    -webkit-text-stroke-color: white;
  }

  #menu > li > a {
    color: #668cff;
    -webkit-text-stroke: 0.25px;
    -webkit-text-stroke-color: white;
  }

  #menu > li:last-of-type {
    display: none;
  }

  #menuh {
    font-family: 'ElaineTest' !important;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: fixed;
    top: 0vh;
    left: 4.5vw;
    width: 14vw;
    height: 93vh;
    font-size: 2vw;
    padding: 3.5vh;
    margin: 0vw;
    color: white;
    background-color: #668cff;
    z-index: 10000;
    overflow-y: scroll;
  }

  #menuh > p {
    margin: 0;
    padding: 0;
    font-family: 'ElaineTest' !important;
    color: #668cff;
    margin-bottom: 5vh;
    -webkit-text-stroke: 0.25px;
    -webkit-text-stroke-color: white;
  }

  .outil {
    font-family: 'Fablab';
    font-size: 1.2vw;
    margin-left: 0vw;
    margin-top: 4vh;
    border-left: 1px dashed white;
    border-right: 1px dashed white;
    border-radius: 100px;
  }

  .outil > p {
    font-family: 'Elaine';
    font-size: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 0.85vh;
    margin-bottom: 0;
    padding-left: 0;
    color: white;
    line-height: 110%;
  }

  #schemas {
    position: fixed;
    top: 17.7vh;
    background-color: LightGoldenRodYellow;
    left: 52vw;
    width: 47vw;
    height: 83vh;
    z-index: 99999;
  }

  .circuit {
    margin-left: 2vw !important;
  }

  .scheme {
    z-index: 100000;
    position: fixed;
    top: 20vh;
    left: 69vw;
    width: 14vw;
    transform: rotate(-90deg);
  }

  .morceau {
    display: flex; flex-direction: row;
    border-bottom: 1px solid #00b359;
  }

  .debut {
    width: 40vw;
    display: flex;
    flex-direction: column;
  }

  #img_ard17, #img_ard20, #img_ard22, #img_ard23, #img_ard03 {
    width: 15vw;
    margin-left: -0.5vw;
  }

  #img_ard01, #img_ard02, #img_ard04 {
    width: 14vw;
    margin-left: -1vw;
  }

  #img_ard14 {
    width: 17vw;
    transform: rotate(-90deg);
    margin-left: -1.5vw;
    margin-top: 3vh;
  }

  #img_ard10 {
    margin-top: 3vh;
    margin-left: -1vw;
    width: 15vw;
  }

  #img_ard18, #img_ard19 {
    width: 13.5vw;
    margin-left: -0.5vw;
  }

  #img_rpi04, #img_rpi11 {
    width: 24vw;
    margin-left: -6vw;
  }

  #img_ard24 {
    width: 11vw;
    margin-left: 4.5vw;
  }

  #img_ard25, #img_rpi10 {
    width: 18vw;
    margin-left: -3vw;
    margin-top: -3vh;
  }

  #img_rpi09 {
    width: 18vw;
    margin-left: -3vw;
    margin-top: 5vh;
  }

  #img_ard05, #img_ard06, #img_ard07, #img_ard08, #img_ard09{
    width: 20vw;
    margin-left: -2vw;
  }

  #img_ard09 {
    width: 23vw;
    margin-left: -5vw;
  }

  #img_ard21 {
    margin-left: -0.5vw;
    width: 20vw;
  }

  #img_ard13, #img_ard12, #img_ard11{
    margin-left: -6vw;
    margin-top: -2vh;
    width: 26vw;
  }

  #img_ard16{
    margin-left: -8vw;
    width: 26vw;
  }

  #img_ard15 {
    margin-left: -8vw;
    width: 30vw;
  }

  #img_rpi12 {
    width: 28vw;
    margin-left: -8vw;
  }



  .previous {
    position: relative;
    top: -0.5vh;
    left: 4.5vw;
    font-size: 1.5vw;
    z-index: -100;
  }

  .previous > p:first-of-type {
    background-color: #ff8080;
    color: #ffe6cc;
    text-align: left;
    padding: 1.5vw;
    padding-left: 2vw;
    font-weight: normal;
    margin-top: 0.5vh;
    padding-top: 3vh;
    margin-bottom: 0;
    font-family: 'Fablab';
    width: 91.5vw;
    text-transform: uppercase;
  }



  .capt {
    width: 41.5vw;
    margin-left: 3vw;
    margin-top: 5vh;
    padding-right: 20vw;
  }


  .sommaire {
    font-family: 'Elaine';
    position: fixed;
    left: 6vw;
    top: 11vh;
    font-size: 1vw;
    text-align: left;
    color: blue;
    width: 21vw;
    height: 89vh;
    overflow-y: scroll;
    z-index: -11;
    background-color: white;
  }

  .sommaire > ol >li:hover {
    background-color: blue;
    color: white;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul > li {
    margin-right: 3vw;
  }

  ol {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
    padding-left: 8vw;
    width: 33vw;
    padding-bottom: 4vh;
    list-style-type: square;
    text-align: left;
    font-family: 'Elaine';
    color: #00b359;
    font-size: 1.5vw;
  }



  li {
    padding: 0.6vw;

  }
}



@font-face {
    font-family: 'Elaine';
    src: url(fonts/elainesans-regular-webfont.eot),
         url(fonts/elainesans-regular-webfont.svg),
         url(fonts/elainesans-regular-webfont.ttf),
         url(fonts/elainesans-regular-webfont.woff),
         url(fonts/elainesans-regular-webfont.woff2);
}

@font-face {
    font-family: 'Space Mono';
    src: url(fonts/Snap-itmono-1.6-Regular.otf),
         url(fonts/Snap-itmono-1.6-Regular.woff),
         url(fonts/Snap-itmono-1.6-Regular.woff2);
}

@font-face {
    font-family: 'Fablab';
    src: url(fonts/fablab-webfont.eot),
         url(fonts/fablab-webfont.svg),
         url(fonts/fablab-webfont.ttf),
         url(fonts/fablab-webfont.woff),
         url(fonts/fablab-webfont.woff2);
}

@font-face {
    font-family: 'ElaineB';
    src: url(fonts/elaine_bidouille-webfont.ttf),
         url(fonts/elaine_bidouille-webfont.eot),
         url(fonts/elaine_bidouille-webfont.svg),
         url(fonts/elaine_bidouille-webfont.woff),
         url(fonts/elaine_bidouille-webfont.woff2);
}

@font-face {
    font-family: 'ElaineTest';
    src: url(fonts/reelaine-webfont.ttf),
         url(fonts/reelaine-webfont.eot),
         url(fonts/reelaine-webfont.svg),
         url(fonts/reelaine-webfont.woff),
         url(fonts/reelaine-webfont.woff2);
}

@font-face {
    font-family: 'ElaineUnie';
    src: url(fonts/reelaineunie-webfont.ttf),
         url(fonts/reelaineunie-webfont.eot),
         url(fonts/reelaineunie-webfont.svg),
         url(fonts/reelaineunie-webfont.woff),
         url(fonts/reelaineunie-webfont.woff2);
}


@media print {
  h3 {
    string-set: heading content();
    font-family: 'ElaineTest';
    font-size: 32pt;
    margin-left: 50mm;
    text-indent: 15mm;
    margin-top: -7.5mm;
    line-height: 75%;
    color: #e6fff3;
    width: 71mm;
    font-weight: normal;
  }
  .print {
    display: none;
  }
  .select {
    color: black;
    text-decoration: none;
  }
  @page {
    size: 150mm 220mm; /* Change from the default size of A4 */
    padding: 2mm;
    margin: 9mm;
    margin-top: 11mm;
    margin-bottom: 11mm;
  }
  @page :first {
    background-color: #668cff;
    @right-bottom {
      content: '';
      display: none;}
    @right-middle {
      content: '';
      display: none;}
      @left-bottom {
        content: '';
        display: none;}
      @left-middle {
        content: '';
        display: none;}
        @top-left {
          content: '';
          display: none;}
        @top-right {
          content: '';
          display: none;}
  }
  @page schema {
    background-color: white;
    @top-left {
      content: 'LE CIRCUIT';
      font-family: 'Fablab';
      font-size: 8pt;
      color: #ff8080;
      font-weight: normal;
      margin-top: 4mm;
      margin-left: 3mm;
    }
    @top-right {
      content: '';
    }
  }
  @page lecode {
    background-color: white;
    @top-left {
      content: '';
    }
    @top-right {
      content: '';
    }
  }
  @page code {
    background-color: #ffe6cc;
    margin: 0mm;
    margin-top: 10mm;
    margin-left: 2mm;
    margin-bottom: 12mm;
    @right-bottom {
      content: '';
      display: none;}
    @right-middle {
      content: '';
      display: none;}
      @left-bottom {
        content: '';
        display: none;}
      @left-middle {
        content: '';
        display: none;}
        @top-left {
          content: '';
          display: none;}
        @top-right {
          content: '';
          display: none;}
  }
  @page codep {
    background-color: #e6fff3;
    margin: 0mm;
    margin-top: 10mm;
    margin-left: 2mm;
    margin-bottom: 12mm;
    @right-bottom {
      content: '';
      display: none;}
    @right-middle {
      content: '';
      display: none;}
      @left-bottom {
        content: '';
        display: none;}
      @left-middle {
        content: '';
        display: none;}
        @top-left {
          content: '';
          display: none;}
        @top-right {
          content: '';
          display: none;}
  }
  @page :right {
        margin-right: 8mm;
        margin-left: 8mm;
        padding-right: 17mm;
        @right-middle {
          content: string(heading);
          font-family: 'ElaineTest';
          font-size: 10pt;
          transform: rotate(90deg);
          text-transform: uppercase;
          width: 150mm;
          height: 20mm;
          color: #668cff;
          text-align: right;
          margin-left: -76mm;
          margin-top: 18mm;
        }
        @right-bottom {
          content: counter(page);
          font-family: 'Elaine';
          font-size: 8pt;
          color: #668cff;
          text-align: center;
          margin-left: -10mm;
        }
        @top-right {
          content: 'LE CODE';
          font-family: 'Fablab';
          font-size: 7pt;
          color: #668cff;
          font-weight: normal;
          margin-top: 4mm;
          margin-left: 3mm;
        }
      }
  @page :left {
      margin-right: 12mm;
      margin-left: 6mm;
      padding-left: 15mm;
      @left-middle {
        content: string(techno);
        font-family: 'Fablab';
        text-transform: uppercase;
        font-size: 7pt;
        transform: rotate(-90deg);
        width: 150mm;
        height: 20mm;
        color: #668cff;
        text-align: left;
        margin-right: -78mm;
        margin-top: 18mm;
      }
      @left-bottom {
        content: counter(page);
        font-family: 'Elaine';
        font-size: 8pt;
        color: #668cff;
        margin-right: -12mm;
        text-align: center;
      }
      @top-left {
        content: 'LE CODE';
        font-family: 'ElaineTest';
        font-size: 10pt;
        color: #668cff;
        font-weight: normal;
        margin-top: 4mm;
        margin-left: 2mm;
      }
    }

  a {
    color: black;
    text-decoration: none;
  }

  #entete, #menu {
    display: none;
  }

    ol {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    ol > li:not(.chap) {
      border-bottom: 0px solid black;
      padding: 0.7mm;
      margin-left: 12mm;
    }

    ol > li.chap {
      border-bottom: 0px solid black;
      padding: 0.7mm;
    }

    ol > li:last-of-type {
      border-bottom: 0px solid black;
    }

  .scheme {
    margin-left: 8mm;
    margin-top: 7mm;
    page: schema;
  }

  li {
    font-family: 'Elaine';
    font-size: 11pt;
    margin-top: 0;
    margin-right: 5mm;
    margin-bottom: 3mm;
    orphans: 3;
    widows: 3;
    color: #ff8080;
    border-bottom: 0px solid white;
    text-decoration: none;
  }

  ol {
    border-bottom: 0px solid white;
    list-style-type: disc;
    padding-left: 10mm;
    margin-top: 5mm;
    text-decoration: none;
    page: schema;
  }

  p {
    font-family: 'Elaine';
    font-size: 11pt;
    margin-top: 0;
    margin-left: 12mm;
    margin-bottom: 3mm;
    orphans: 3;
    widows: 3;
    color: #00b359;
  }

  pre {
    margin-left: 0mm;
    font-family: 'Space Mono';
    font-size: 11pt;
    margin-bottom: 2mm;
    padding: 0;
    margin-top: 15mm;
    width: 115mm;
    color: #ff8080;
    widows: 3;
    orphans: 3;
    line-height: 130%;
    background-color: #ffe6cc;
    break-inside: avoid;
    -webkit-text-stroke: 1px;
    letter-spacing: 1px;
  }

  pre.code_full {
    font-size: 11pt;
  }

  .large_full {
    margin-top: 10mm;
  }

  .large_full:first-of-type {
    margin-top: 0mm;
  }

  #block_code {
    width: 110mm;
    font-size: 12pt;
    color: #ff8080;
    line-height: 130%;
    page-break-after: always;
    page-break-before: always;
    page: code;
  }

  #block_code > p {
    font-family: 'Elaine';
    font-size: 20pt;
    padding: 3mm;
    margin-left: 0;
    color: #ff8080;
    text-decoration: underline;
  }


  #block_code2 {
    width: 110mm;
    font-size: 12pt;
    line-height: 130%;
    page-break-after: always;
    page-break-before: always;
    page: code;
  }

  #block_code2 > p {
    margin-left: 3mm;
    width: 100mm;
    font-family: 'Elaine';
    font-size: 20pt;
    text-decoration: underline;
    padding-left: 0mm;
    color: #ff8080;
  }

  #block_html, #block_css, #block_js {
    width: 110mm;
    font-size: 12pt;
    line-height: 130%;
    page-break-after: always;
    page-break-before: always;
    page: codep;
  }

  #block_html > p, #block_css > p, #block_js > p {
    margin-left: 0;
    width: 100mm;
    font-family: 'Elaine';
    font-size: 20pt;
    text-decoration: underline;
    padding-left: 3mm;
    color: #ff8080;
  }

  .proc {
    background-color: #e6fff3;
    color: #ff8080;
    font-family: 'Space Mono';
    -webkit-text-stroke: 1px;
    letter-spacing: 1px;

  }

  .processing, #block_html > pre, #block_css > pre, #block_js > pre {
    background-color: #e6fff3;
    color: #ff8080;
    font-family: 'Space Mono';
    -webkit-text-stroke: 1px;
    letter-spacing: 1px;
  }

  #onglets {
    display: none;
  }

  h5 {
    font-family: 'Elaine';
    font-size: 16pt;
    text-decoration: underline;
    font-weight: normal;
    color: #ff8080;
    margin-left: 10mm;
    margin-top: 10mm;
  }

  h4 {
    font-family: 'Space Mono';
    font-size: 32pt;
    letter-spacing: 2px;
    font-weight: normal;
    margin-left: 0mm;
    margin-top: 1mm;
    page: lecode;
    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: white;
    color: #00b359;
  }

  pre:first-of-type {
    margin-top: 0mm;
  }

  .type {
    background-color: #e6fff3;
    color: #00b359;
  }

  .fonction {
    background-color: cornsilk;
    color: #00b359;
  }

  .typep {
    background-color: #ffe6cc;
    color: #00b359;
  }

  .fonctionp {
    background-color: cornsilk;
    color: #00b359;
  }

  .blanc {
    height: 180mm;
    width: 20mm;
    page: blanc;
  }

  .cache {
    display: none;
  }

  .capt{
    width: 190mm;
    height: auto;
    transform: rotate(270deg);
    margin-left: -63mm;
    margin-top: 25mm;
    margin-right: 35mm;
    padding-top: 38mm;
    page-break-before: always;
    page-break-after: always;
  }

  .tuto {
    width: 117mm;
    height: auto;
    margin-bottom: 6mm;
  }

  .code{
    background-color: #ffe6cc;
    font-family: 'Space Mono';
    color: #ff8080;
    font-size: 10.25pt;
    -webkit-text-stroke: 1px;
    letter-spacing: 1px;
  }

  .circuit {
    font-size: 11pt;
    color: #ff8080;
    page: schema;
    margin-left: 30mm;
  }

  .circuitb {
    font-size: 11pt;
    color: #e6fff3;
    margin-bottom: 20mm;
    margin-left: 50mm;
    margin-right: -5mm;
    page-break-after: always;
  }

  .command {
    margin-top: 1mm;
    margin-bottom: 15mm;
  }

  #img_ard01, #img_ard02, #img_ard03, #img_ard04, #img_ard18, #img_ard19 {
    margin-top: 11mm;
    margin-left: 18mm;
  }

  #img_ard20 {
    margin-top: 9mm;
    margin-left: 15mm;
    page-break-before: always;
  }

  #img_ard05, #img_ard06, #img_ard07, #img_ard08{
    margin-top: 9mm;
    margin-left: 10mm;
    page-break-before: always;
  }

  #img_ard09 {
    margin-top: 9mm;
    margin-left: 1mm;
  }

  #img_ard22 {
    margin-top: 25mm;
    margin-left: 25mm;
  }

  #img_ard10{
    margin-top: 30mm;
    margin-left: 22mm;
  }

  #img_ard11, #img_ard12, #img_ard13 {
    margin-top: 7mm;
    margin-left: -5mm;
  }

  #img_ard14 {
    width: 66mm;
    margin-bottom: 20mm;
    height: auto;
    margin-left: 15mm;
    margin-top: 40mm;
  }

  #img_ard16 {
    margin-top: 5mm;
    margin-left: -12mm;
    margin-bottom: 15mm;
    width: 125mm;
    height: auto;
  }

  #img_ard15 {
    margin-top: 25mm;
    margin-left: -8mm;
    margin-bottom: 15mm;
    width: 125mm;
    height: auto;
  }

  #img_ard17 {
    margin-left: 18mm;
    margin-top: 15mm;
  }

  #img_ard21 {
    margin-left: 17mm;
    margin-top: 25mm;
    margin-bottom: 20mm;
  }

  #img_ard23 {
    margin-top: 30mm;
    margin-bottom: 40mm;
    margin-left: 25mm;
  }

  #img_ard24 {
    margin-top: 0mm;
    margin-left: 25mm;
  }

  #img_rpi14 {
    margin-left: 17mm;
  }

  #img_rpi12 {
    margin-left: -8mm;
    width: 120mm;
    margin-bottom: 15mm;
    margin-top: 15mm;
  }

  #img_rpi11 {
    margin-left: -5mm;
  }

  #img_rpi10 {
    margin-left: 15mm;
  }

  #img_rpi09 {
    margin-left: 17mm;
    margin-bottom: 25mm;
    margin-top: 35mm;
  }

  #img_rpi01 {
    margin-left: 18mm;
  }

  pre.code_full {
    break-inside: auto;
  }

  .previous {
    margin-left: 4mm;
    margin-top: 2mm;
  }

  .previous > p {
    font-family: 'Fablab';
    color: #e6fff3;
    padding-left: 0mm;
    margin-left: 7mm;
    margin-top: 4mm;
    font-size: 11pt;
    text-transform: uppercase;
    width: auto;
    string-set: techno content();
  }
}
