<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}Cityfab2.docs{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
    <div id="entete">
      <a href="/">Cityfab2.docs</a>
    </div>
    <ul id="menu">
      <li><a href="/ressources_pedagogiques">Ressources pédagogiques</a></li>
      <li>Liens</li>
    </ul>

      <div class="print">
        <a href="/arduino_processing1.pdf">Version PDF</a>
      </div>
      <div class="previous">
        <p>Arduino</p>
      </div>

      <div class="main">
        <div id="onglets">
          <div id="onglet_circuit" onclick="circuitTop()">Circuit</div>
          <div id="onglet_code" onclick="codeTop()">Code Arduino</div>
          <div id="onglet_html" onclick="htmlTop()">Code Processing</div>
        </div>
        <h3>Arduino +  Processing&nbsp;: transmission par le port série</h3>
        <p class="circuitb">Les projets Arduino et Processing sont très proches car ils sont issus des mêmes créateurs. Processing est une interface de programmation permettant de créer des visuels génératifs, qui se connecte facilement avec Arduino. Si Arduino gère les interactions avec le monde réel via des capteurs, Processing peut mettre en image ces interactions.</p>
        <div id="schemas">
          <img id="img_ard18" class="scheme" src="{{ url_for('static', filename='arduino_to_processing.svg') }}" alt="">
        </div>

        <ol>
          <li>Faisons un petit circuit pour comprendre comment Processing et Arduino peuvent communiquer de la manière la plus simple possible. Branchez simplement un potentiomètre à la pin A0 de l'Arduino, le 5V et le GROUND.</li>
        </ol>

        <div id="block_code">
          <p>Code Arduino</p>
          <pre class="code_full">

  <span class="type">int</span> pot = A0;
  <span class="type">int</span> valeur = 0;

  <span class="type">void</span> <span class="fonction">setup()</span> {
    <span class="type">Serial</span>.<span class="fonction">begin</span>(9600);
    <span class="fonction">pinMode</span>(pot, INPUT);
  }

  <span class="type">void</span> <span class="fonction">loop()</span> {
    valeur = <span class="fonction">analogRead</span>(pot);
    <span class="type">Serial</span>.<span class="fonction">println</span>(valeur);
    <span class="fonction">delay</span>(100);
  }

        </pre>
      </div>

      <h4>LE CODE</h4>
      <pre>

  <span class="type">int</span> pot = A0;
  <span class="type">int</span> valeur = 0;

  <span class="type">void</span> <span class="fonction">setup()</span> {
    <span class="type">Serial</span>.<span class="fonction">begin</span>(9600);
    <span class="fonction">pinMode</span>(pot, INPUT);
  }

  <span class="type">void</span> <span class="fonction">loop()</span> {
    valeur = <span class="fonction">analogRead</span>(pot);
    <span class="type">Serial</span>.<span class="fonction">println</span>(valeur);
    <span class="fonction">delay</span>(100);
  }
      </pre>
      <p>Ce script lit la valeur envoyée par le potentiomètre et la passe au moniteur série. C'est tout pour ce que l'Arduino a à faire dans ce projet, pour la suite on passe à Processing.</p>
      <div id="block_html">
        <p>Code Processing</p>
        <pre class="code_full">

  <span class="typep">import</span> processing.serial.*;

  <span class="typep">int</span> lf = 10;
  <span class="typep">String</span> myString = null;
  <span class="typep">Serial</span> myPort;
  <span class="typep">float</span> num;

  <span class="typep">void</span> <span class="fonctionp">setup()</span> {
    <span class="fonctionp">size</span>(600, 400);

    myPort = new <span class="typep">Serial</span>(this,
    <span class="typep">Serial</span>.<span class="fonctionp">list()</span>[0], 9600);
    myPort.<span class="fonctionp">clear()</span>;

    <span class="fonctionp">colorMode</span>(RGB, 100);

    <span class="fonctionp">background</span>(0, 0, 0);
  }

  <span class="typep">void</span> <span class="fonctionp">draw()</span> {
    <span class="typep">while</span>(myPort.<span class="fonctionp">available()</span> > 0) {
      myString = myPort.<span class="fonctionp">readStringUntil</span>(lf);
      <span class="typep">if</span>(myString != null) {
        <span class="fonctionp">num = float</span>(myString);

        <span class="fonctionp">println</span>(num);

        <span class="fonctionp">fill</span>(255, 100, 0);
        <span class="fonctionp">circle</span>(100, 100, num);
        <span class="fonctionp">fill</span>(0, 255, 100);
        <span class="fonctionp">circle</span>(500, 300, num/2);
        <span class="fonctionp">fill</span>(100, 0, 255);
        <span class="fonctionp">circle</span>(300, 200, num/3);
      }
    }
    myPort.<span class="fonctionp">clear()</span>;
  }

      </pre>
    </div>

      <pre class="proc">

  <span class="typep">import</span> processing.serial.*;

  <span class="typep">int</span> lf = 10;
  <span class="typep">String</span> myString = null;
  <span class="typep">Serial</span> myPort;
  <span class="typep">float</span> num;
      </pre>
      <p>Nous voici dans l'IDE Processing. La programmation en Processing est basée sur le langage Java, qui est très proche du C++ sur lequel est basé Arduino. Vous pouvez voir que nous commençons par appeler une librairie, <span class="processing">processing.serial</span>, afin d'utiliser le port série. On initialise quelques variables&nbsp;: <span class="processing">lf</span> est le nombre de caractères par ligne que Processing devra lire dans le port série, <span class="processing">myString</span> la chaîne de caractères qui stockera la valeur lue dans le port série (bien que nous demandions à Arduino d'envoyer une valeur numérique, ce qui se trouve dans le port série ne peut être qu'une chaîne de caractères, c'est pourquoi nous devons passer par ce type de variable), <span class="processing">myPort</span> le port série, et <span class="processing">num</span> la valeur envoyée par Arduino dans le port série reconvertie en chiffre.</p>
      <pre class="proc">

  <span class="typep">void</span> <span class="fonctionp">setup()</span> {
    <span class="fonctionp">size</span>(600, 400);
    myPort = new <span class="typep">Serial</span>(this,
    <span class="typep">Serial</span>.<span class="fonctionp">list()</span>[0], 9600);
    myPort.<span class="fonctionp">clear()</span>;
    <span class="fonctionp">colorMode</span>(RGB, 100);
    <span class="fonctionp">background</span>(0, 0, 0);
  }
      </pre>
      <p>Processing a également une fonction <span class="processing">setup()</span>, qui a le même rôle que la fonction du même nom dans Arduino. La fonction <span class="processing">size()</span> initialise la taille de la fenêtre. On démarre le port série à un baudrate de 9600 (le même que le port série démarré avec le script Arduino), puis on vide une première fois le port série avec <span class="processing">myPort.clean()</span>. Les fonctions <span class="processing">colorMode()</span> et <span class="processing">background()</span> déterminent le profil colorimétrique et la couleur de fond de la fenêtre.</p>
      <pre class="proc">

  <span class="typep">void</span> <span class="fonctionp">draw()</span> {
    <span class="typep">while</span>(myPort.<span class="fonctionp">available()</span> > 0) {
      myString = myPort.<span class="fonctionp">readStringUntil</span>(lf);
      <span class="typep">if</span>(myString != null) {
        <span class="fonctionp">num = float</span>(myString);
        <span class="fonctionp">println</span>(num);
        <span class="fonctionp">fill</span>(255, 100, 0);
        <span class="fonctionp">circle</span>(100, 100, num);
        <span class="fonctionp">fill</span>(0, 255, 100);
        <span class="fonctionp">circle</span>(500, 300, num/2);
        <span class="fonctionp">fill</span>(100, 0, 255);
        <span class="fonctionp">circle</span>(300, 200, num/3);
      }
    }
    myPort.<span class="fonctionp">clear()</span>;
  }
      </pre>
      <p>La fonction <span class="processing">draw()</span> de Processing est équivalente à la fonction <span class="processing">loop()</span> d'Arduino. Ce que nous y faisons c'est, tant que le port série précédemment déclaré est disponible, stocker la valeur qu'on y trouve dans <span class="processing">myString</span>. Ainsi la valeur de <span class="processing">myString</span> qui était initialement égale à <span class="processing">null</span> change, et si cette condition est vraie (<span class="processing">if (myString != null){}</span>), alors on reconvertit la valeur contenue dans <span class="processing">myString</span> en nombre avec la fonction <span class="processing">float(myString)</span> et on dessine dans la fenêtre Processing trois cercles, un cyan, un magenta, un jaune. Les diamètres de ces cercles varient en fonction de la valeur envoyée par le potentiomètre branché sur l'Arduino puisque le troisième argument des fonctions <span class="processing">circle()</span> est <span class="processing">num</span>, <span class="processing">num/2</span> et <span class="processing">num/3</span>&nbsp;; nous faisons donc dépendre les diamètres des cercles de la valeur lue en continu dans le port série.</p>

    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
