<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}Cityfab2.docs{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
    <div id="entete">
      <a href="/">Cityfab2.docs</a>
    </div>
      <ul id="menu">
        <li><a href="/ressources_pedagogiques">Ressources pédagogiques</a></li>
        <li>Liens</li>

      </ul>

      <div class="print">
        <a href="/rpi_bot_led.pdf">Version PDF</a>
      </div>
      <div class="previous">
        <p>Raspberry Pi</p>
      </div>

      <div class="main">
        <h3>Bot Twitter + LED</h3>
        <p class="circuitb">On peut connecter un bot Twitter aux broches GPIO d'un Raspberry Pi, par exemple pour allumer une LED chaque fois qu'un mot-clé apparaît dans un tweet.</p>
        <div id="schemas"><img id="img_rpi14" class="scheme" src="{{ url_for('static', filename='rpi_led_tag.svg') }}" alt=""></div>
        <div id="onglets">
          <div id="onglet_code" onclick="codeTop()">Script Python</div>
          <div id="onglet_circuit" onclick="circuitTop()">Circuit</div>
        </div>

        <ol>
          <li>Branchez une LED verte à la broche 22 du Raspberry Pi et au GROUND via une résistance de 220 Ω.</li>
        </ol>

        <div id="block_code">
          <p>Script Python</p>
          <pre class="code_full">

  <span class="type">import</span> time
  <span class="type">import</span> <span class="fonction">RPi.GPIO</span> <span class="type">as</span> GPIO
  <span class="type">from</span> twython <span class="type">import</span> TwythonStreamer

  TERMS = '#raspberrypi'

  LED = 22

  APP_KEY = '****'
  APP_SECRET = '****'
  OAUTH_TOKEN = '****'
  OAUTH_TOKEN_SECRET = '****'

  <span class="type">class</span> <span class="fonction">BlinkyStreamer</span>(TwythonStreamer):
      <span class="type">def</span> <span class="fonction">on_success</span>(self, data):
          <span class="type">if</span> 'text' <span class="type">in</span> data:
              <span class="fonction">print</span> data['text'].<span class="fonction">encode</span>('utf-8')
              GPIO.<span class="fonction">output</span>(LED, GPIO.HIGH)
              time.<span class="fonction">sleep</span>(1)
              GPIO.<span class="fonction">output</span>(LED, GPIO.LOW)

  GPIO.<span class="fonction">setmode</span>(GPIO.BOARD)
  GPIO.<span class="fonction">setup</span>(LED, GPIO.OUT)
  GPIO.<span class="fonction">output</span>(LED, GPIO.LOW)

  <span class="type">try</span>:
      stream = <span class="fonction">BlinkyStreamer</span>(APP_KEY, APP_SECRET,
      OAUTH_TOKEN, OAUTH_TOKEN_SECRET)
      stream.statuses.<span class="fonction">filter</span>(track=TERMS)
  <span class="type">except</span> <span class="fonction">KeyboardInterrupt</span>:
      GPIO.<span class="fonction">cleanup()</span>

        </pre>
      </div>

      <h4>LE CODE</h4>
        <pre>

  <span class="type">import</span> time
  <span class="type">import</span> <span class="fonction">RPi.GPIO</span> <span class="type">as</span> GPIO
  <span class="type">from</span> twython <span class="type">import</span> TwythonStreamer

  TERMS = '#raspberrypi'

  LED = 22

  APP_KEY = '****'
  APP_SECRET = '****'
  OAUTH_TOKEN = '****'
  OAUTH_TOKEN_SECRET = '****'

        </pre>
        <p>On importe les modules <span class="code">RPi.GPIO</span> pour interagir avec les broches du Raspberry Pi, <span class="code">TwythonStreamer</span> de <span class="code">twython</span> pour créer un stream de tweets. La variable <span class="code">TERMS</span> contient le terme qu'on recherchera dans les tweets. On initialise la broche de la LED dans <span class="code">LED = 22</span>. Copiez les codes secrets de votre API respectivement dans les variables <span class="code">APP_KEY</span>, <span class="code">APP_SECRET</span>, <span class="code">OAUTH_TOKEN</span> et <span class="code">OAUTH_TOKEN_SECRET</span>.</p>
        <pre>

  <span class="type">class</span> <span class="fonction">BlinkyStreamer</span>(TwythonStreamer):
      <span class="type">def</span> <span class="fonction">on_success</span>(self, data):
          <span class="type">if</span> 'text' <span class="type">in</span> data:
              <span class="fonction">print</span> data['text'].<span class="fonction">encode</span>('utf-8')
              GPIO.<span class="fonction">output</span>(LED, GPIO.HIGH)
              time.<span class="fonction">sleep</span>(1)
                GPIO.<span class="fonction">output</span>(LED, GPIO.LOW)
        </pre>
        <p><span class="code">TwythonStreamer</span> est un objet contenant toutes les méthodes nécessaires à la mise en place d'un stream Twitter en temps réel. Nous étendons cette <span class="code">class</span> pour créer la nôtre, <span class="code">BlinkyStreamer</span>, qui va ajouter des méthodes pour la LED au stream. Quand le stream est établi (<span class="code">on_success()</span>), si un certain texte se trouve dans la <span class="code">data</span> renvoyée par le stream, alors on allume et éteint la LED avec <span class="code">GPIO.output(LED, GPIO.HIGH)</span> puis <span class="code">GPIO.output(LED, GPIO.LOW)</span>. L'objet qui nous permettra de faire clignoter la LED chaque fois que le mot-clé dans <span class="code">TERMS</span> est rencontré est créé, mais il n'est en l'état qu'un objet abstrait. Il faut l'appeler dasn la suite du script pour le mettre en action.</p>

        <pre>

  GPIO.<span class="fonction">setmode</span>(GPIO.BOARD)
  GPIO.<span class="fonction">setup</span>(LED, GPIO.OUT)
  GPIO.<span class="fonction">output</span>(LED, GPIO.LOW)

  <span class="type">try</span>:
      stream = <span class="fonction">BlinkyStreamer</span>(APP_KEY, APP_SECRET,
      OAUTH_TOKEN, OAUTH_TOKEN_SECRET)
      stream.statuses.<span class="fonction">filter</span>(track=TERMS)
  <span class="type">except</span> <span class="fonction">KeyboardInterrupt</span>:
      GPIO.<span class="fonction">cleanup()</span>
        </pre>
        <p>On initialise ensuite les broches en mode <span class="code">GPIO.BOARD</span> et on éteint la LED. L'assertion <span class="code">try:</span>/<span class="code">except:</span> nous permet de tester du code et de lever une exception au cas où une erreur où un cas de figure particulier est rencontré. Ici ce que l'on teste, c'est que notre stream <span class="code">BlinkyStreamer</span> se lance bien (avec les codes secrets de votre API), puis on utilise la fonction <span class="code">stream.statuses.filter(track=TERMS)</span> pour demander au stream de traquer le terme voulu, celui contenu dans <span class="code">TERMS</span>. À partir de cette fonction, le <span class="code">BlinkyStreamer</span> va faire son travail et allumer la LED si le terme recherché est rencontré. <br/>Nous levons une exception en cas de <span class="code">KeyboardInterrupt</span>, c'est à dire s'il est mis fin au script dans le terminal en y entrant CTRL+C. Dans ce cas, on réinitialise les broches GPIO avec <span class="code">GPIO.cleanup()</span> pour finir proprement le script.</p>


    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
