<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}Cityfab2.docs{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
    <div id="entete">
      <a href="/">Cityfab2.docs</a>
    </div>
    <ul id="menu">
      <li><a href="/ressources_pedagogiques">Ressources pédagogiques</a></li>
      <li>Liens</li>
    </ul>

      <div class="print">
        <a href="/arduino_serveur_meteo.pdf">Version PDF</a>
      </div>
      <div class="previous">
        <p>Arduino</p>
      </div>

      <div class="main">
        <div id="onglets">
          <div id="onglet_circuit" onclick="circuitTop()">Circuit</div>
          <div id="onglet_code" onclick="codeTop()">Code Arduino</div>
        </div>
        <h3>Serveur web météo</h3>
        <p class="circuitb">Nous allons dans ce projet créer un serveur sur l'ESP8266 qui nous permettra de lire sur une page web la température, le taux d'humidité et la luminosité captés en en temps réel.</p>
        <div id="schemas">
          <img id="img_ard22" class="scheme" src="{{ url_for('static', filename='server_controle2.svg') }}" alt="">
        </div>

        <ol>
          <li>Reliez la photorésistance à la broche analogique de l'ESP8266 (celle-ci varie en fonction du modèle de carte, consultez la datasheet de la carte ESP8266 que vous utilisez pour savoir où elle se trouve) et au 5V à travers une résistance de 10k Ω.</li>
          <li>Pour le capteur DHT22, branchez la patte de gauche dans le 5V, la deuxième patte à la broche 12 de l'ESP8266, et la patte de droite au GND.</li>
        </ol>

      <div id="block_code">
        <p>Code Arduino</p>
        <pre class="code_full">

  <span class="type">#include</span> &lt;ESP8266WiFi.h&gt;
  <span class="type">#include</span> &lt;ESP8266WebServer.h&gt;

  <span class="type">#include</span> &lt;DHT.h&gt;

  <span class="type">#define</span> DHTPIN 12
  <span class="type">#define</span> DHTTYPE DHT22
  <span class="type">DHT</span> dht(DHTPIN, DHTTYPE);

  <span class="type">int</span> lightPin = A0;

  <span class="type">const char*</span> ssid = "****";
  <span class="type">const char*</span> password = "****";

  <span class="type">ESP8266WebServer</span> server (80);

  <span class="type">char</span> htmlResponse[3000];

  <span class="type">void</span> <span class="fonction">handleRoot()</span> {
    <span class="fonction">snprintf</span>( htmlResponse, 3000,
    "&lt;!DOCTYPE html&gt;\
    &lt;html&gt;\
      &lt;head&gt;\
        &lt;meta charset='UTF-8'&gt;\
      &lt;/head&gt;\
      &lt;style&gt;\
        body {\
          margin: 0;\
        }\
        .card{\
          background: white;\
          padding: 0px;\
          color: navy;\
          box-shadow: 0px 2px 18px -4px\
          rgba(0,0,0,0.75);\
          font-family: monospace;\
          font-size: 5vw;\
          width: 100vw;\
              }\
        .card &gt; div {\
          width: 100vw !important;\
          border-top: 1px solid navy;\
          margin: 0;\
          display:flex;\
          flex-direction: row;\
        }\
        .card &gt; div &gt; p {\
          padding: 2vw;\
          text-align: left;\
          border-right: 1px solid navy;\
          margin: 0;\
          background-color:white;\
          width: auto;\
        }\
        h1{\
          font-size: 5vw;\
          padding: 2vw;\
          text-align: left;\
          font-family: monospace;\
          margin: 0;\
          color: navy;\
        }\
        .titre{\
          border-right: 1px dashed navy;\
          width:49vw;\
          color:mediumseagreen;\
        }\
      &lt;/style&gt;\
      &lt;body&gt;\
        &lt;h1&gt;Météo Arduino&lt;/h1&gt;\
        &lt;div class='card'&gt;\
          &lt;div id='t'&gt;\
            &lt;p class='titre'&gt;\
              Température (°C)\
            &lt;/p&gt;\
            &lt;p id='temp'&gt;0&lt;/p&gt;\
          &lt;/div&gt;\
          &lt;div id='h'&gt;\
            &lt;p class='titre'&gt;\
              Humidité (pourcent)\
            &lt;/p&gt;\
            &lt;p id='hum'>0&lt;/p&gt;\
          &lt;/div&gt;\
          &lt;div id='l'&gt;\
            &lt;p class='titre'&gt;\
              Luminosité (pourcent)\
            &lt;/p&gt;\
            &lt;p id='lum'&gt;0&lt;/p&gt;\
          &lt;/div&gt;\
        &lt;/div&gt;\
        &lt;script&gt;\
          let t = document.getElementById('t');\
          let h = document.getElementById('h');\
          let l = document.getElementById('l');\
          setInterval(function() {\
            getTemp();\
            getHum();\
            getLight();\
          }, 5000); \
          function getTemp() {\
            var xhttp = new XMLHttpRequest();\
            xhttp.onreadystatechange =
            function() {\
              if(this.readyState == 4\
              && this.status == 200) {\
                document.getElementById('temp')
                .innerHTML =
                this.responseText;\
                if(Number(this.responseText)
                <= 17){\
                  t.style.backgroundColor = 'azure';\
                } else if(Number(this.responseText)
                > 17 && Number(this.responseText)
                <= 24){\
                  t.style.backgroundColor =
                  'lightgreen';\
                } else{\
                  t.style.backgroundColor =
                  'tomato';\
                };\
              };\
            };\
            xhttp.open('GET', 'temperature',
            true);\
            xhttp.send();\
          };\
          function getHum() {\
            var xhttp = new XMLHttpRequest();\
            xhttp.onreadystatechange =
            function() {\
              if(this.readyState == 4\
              && this.status == 200) {\
                document.getElementById('hum')
                .innerHTML =
                this.responseText;\
                if(Number(this.responseText)
                > 60) {\
                  h.style.backgroundColor =
                  'aquamarine';\
                } else {\
                  h.style.backgroundColor =
                  'khaki';\
                }\
              };\
            };\
            xhttp.open('GET', 'humidite', true);\
            xhttp.send();\
          };\
          function getLight() {\
            var xhttp = new XMLHttpRequest();\
            xhttp.onreadystatechange =
            function() {\
              if(this.readyState == 4\
              && this.status == 200) {\
                document.getElementById('lum')
                .innerHTML =
                this.responseText;\
              };\
            };\
            xhttp.open('GET', 'luminosite',
            true);\
            xhttp.send();\
          };\
        &lt;/script&gt;\
      &lt;/body&gt;\
    &lt;/html&gt;" );

    server.<span class="fonction">send</span>( 200, "text/html",
    htmlResponse );
  }

  <span class="type">void</span> <span class="fonction">sendTemp()</span> {
    <span class="type">int</span> t = dht.<span class="fonction">readTemperature()</span>;
    <span class="type">String</span> tempValue = <span class="fonction">String</span>(t);
    server.<span class="fonction">send</span>(200, "text/plane", tempValue);
  }

  <span class="type">void</span> <span class="fonction">sendHum()</span> {
    <span class="type">int</span> h = dht.<span class="fonction">readHumidity()</span>;
    <span class="type">String</span> humValue = <span class="fonction">String</span>(h);
    server.<span class="fonction">send</span>(200, "text/plane", humValue);
  }

  <span class="type">void</span> <span class="fonction">sendLight()</span> {
    <span class="type">int</span> l = <span class="fonction">analogRead</span>(lightPin);
    <span class="type">int</span> lv = <span class="fonction">map</span>(l, 0, 1023, 0, 100);
    <span class="type">String</span> lightValue = <span class="fonction">String</span>(lv);
    server.<span class="fonction">send</span>(200, "text/plane", lightValue);
  }

  <span class="type">void</span> <span class="fonction">setup()</span> {
    <span class="fonction">pinMode</span>(lightPin, INPUT);
    <span class="type">Serial</span>.<span class="fonction">begin</span>(115200);
    <span class="fonction">delay</span>(10);

    dht.<span class="fonction">begin()</span>;

    <span class="type">Serial</span>.<span class="fonction">println()</span>;
    <span class="type">Serial</span>.<span class="fonction">println()</span>;
    <span class="type">Serial</span>.<span class="fonction">print</span>("Connecting to ");
    <span class="type">Serial</span>.<span class="fonction">println</span>(ssid);

    <span class="type">WiFi</span>.<span class="fonction">begin</span>(ssid, password);

    <span class="type">while</span>(<span class="type">WiFi</span>.<span class="fonction">status()</span> != WL_CONNECTED) {
      <span class="fonction">delay</span>(500);
      <span class="type">Serial</span>.<span class="fonction">print</span>(".");
    }

    <span class="type">Serial</span>.<span class="fonction">println</span>("");
    <span class="type">Serial</span>.<span class="fonction">println</span>("WiFi connected");
    <span class="type">Serial</span>.<span class="fonction">println</span>("IP address: ");
    <span class="type">Serial</span>.<span class="fonction">println</span>(WiFi.localIP());

    <span class="type">server</span>.<span class="fonction">on</span>( "/", handleRoot );
    <span class="type">server</span>.<span class="fonction">on</span>("/temperature", sendTemp );
    <span class="type">server</span>.<span class="fonction">on</span>("/humidite", sendHum );
    <span class="type">server</span>.<span class="fonction">on</span>("/luminosite", sendLight );

    server.<span class="fonction">begin()</span>;
    <span class="type">Serial</span>.<span class="fonction">println</span>( "HTTP server started" );
  }

  <span class="type">void</span> <span class="fonction">loop()</span> {
    server.<span class="fonction">handleClient()</span>;
  }

      </pre>
    </div>

    <h4>LE CODE</h4>
    <pre>

  <span class="type">#include</span> &lt;ESP8266WiFi.h&gt;
  <span class="type">#include</span> &lt;ESP8266WebServer.h&gt;

  <span class="type">#include</span> &lt;DHT.h&gt;

  <span class="type">#define</span> DHTPIN 12
  <span class="type">#define</span> DHTTYPE DHT22
  <span class="type">DHT</span> dht(DHTPIN, DHTTYPE);

  <span class="type">int</span> lightPin = A0;

  <span class="type">const char*</span> ssid = "****";
  <span class="type">const char*</span> password = "****";

  <span class="type">ESP8266WebServer</span> server (80);

  <span class="type">char</span> htmlResponse[3000];
    </pre>
    <p>On débute ce script comme pour le projet précédent&nbsp;: on importe les librairies propres à l'ESP8266 pour qu'il gère la connexion au Wifi et le serveur web. Il faut ici également importer la librairie <span class="code">DHT</span> pour ce capteur, puis on déclare sa pin et son type. On déclare la pin de la photorésistance, puis on initialise les codes Wifi et le serveur <span class="code">ESP8266WebServer</span> sur le port 80, enfin on crée déjà la chaîne de caractères <span class="code">htmlResponse</span> qui contiendra le corps de la page web.</p>
    <pre>

  <span class="type">void</span> <span class="fonction">handleRoot()</span> {
    <span class="fonction">snprintf</span>( htmlResponse, 3000,
    "&lt;!DOCTYPE html&gt;\
    &lt;html&gt;\
      &lt;head&gt;\
        &lt;meta charset='UTF-8'&gt;\
      &lt;/head&gt;\
      &lt;style&gt;\
        body {\
          margin: 0;\
        }\
        .card{\
          background: white;\
          padding: 0px;\
          color: navy;\
          box-shadow: 0px 2px 18px -4px\
          rgba(0,0,0,0.75);\
          font-family: monospace;\
          font-size: 5vw;\
          width: 100vw;\
              }\
        .card &gt; div {\
          width: 100vw !important;\
          border-top: 1px solid navy;\
          margin: 0;\
          display:flex;\
          flex-direction: row;\
        }\
        .card &gt; div &gt; p {\
          padding: 2vw;\
          text-align: left;\
          border-right: 1px solid navy;\
          margin: 0;\
          background-color:white;\
          width: auto;\
        }\
        h1{\
          font-size: 5vw;\
          padding: 2vw;\
          text-align: left;\
          font-family: monospace;\
          margin: 0;\
          color: navy;\
        }\
        .titre{\
          border-right: 1px dashed navy;\
          width:49vw;\
          color:mediumseagreen;\
        }\
      &lt;/style&gt;\
      &lt;body&gt;\
        &lt;h1&gt;Météo Arduino&lt;/h1&gt;\
        &lt;div class='card'&gt;\
          &lt;div id='t'&gt;\
            &lt;p class='titre'&gt;\
              Température (°C)\
            &lt;/p&gt;\
            &lt;p id='temp'&gt;0&lt;/p&gt;\
          &lt;/div&gt;\
          &lt;div id='h'&gt;\
            &lt;p class='titre'&gt;\
              Humidité (pourcent)\
            &lt;/p&gt;\
            &lt;p id='hum'>0&lt;/p&gt;\
          &lt;/div&gt;\
          &lt;div id='l'&gt;\
            &lt;p class='titre'&gt;\
              Luminosité (pourcent)\
            &lt;/p&gt;\
            &lt;p id='lum'&gt;0&lt;/p&gt;\
          &lt;/div&gt;\
        &lt;/div&gt;\
        &lt;script&gt;\
          let t =
          document.getElementById('t');\
          let h =
          document.getElementById('h');\
          let l =
          document.getElementById('l');\
          setInterval(function() {\
            getTemp();\
            getHum();\
            getLight();\
          }, 5000); \
          function getTemp() {\
            var xhttp =
            new XMLHttpRequest();\
            xhttp.onreadystatechange =
            function() {\
              if(this.readyState == 4\
              && this.status == 200) {\
                document.
                getElementById('temp')
                .innerHTML =
                this.responseText;\
                if(Number(this.responseText)
                <= 17){\
                  t.style.backgroundColor =
                  'azure';\
                } else if(Number(this
                .responseText) > 17 &&
                Number(this.responseText)
                <= 24){\
                  t.style.backgroundColor =
                  'lightgreen';\
                } else{\
                  t.style.backgroundColor =
                  'tomato';\
                };\
              };\
            };\
            xhttp.open('GET',
            'temperature', true);\
            xhttp.send();\
          };\
          function getHum() {\
            var xhttp =
            new XMLHttpRequest();\
            xhttp.onreadystatechange =
            function() {\
              if(this.readyState == 4\
              && this.status == 200) {\
                document
                .getElementById('hum')
                .innerHTML =
                this.responseText;\
                if(Number(this.responseText)
                > 60) {\
                  h.style
                  .backgroundColor =
                  'aquamarine';\
                } else {\
                  h.style.backgroundColor =
                  'khaki';\
                }\
              };\
            };\
            xhttp.open('GET', 'humidite',
            true);\
            xhttp.send();\
          };\
          function getLight() {\
            var xhttp =
            new XMLHttpRequest();\
            xhttp.onreadystatechange =
            function() {\
              if(this.readyState == 4\
              && this.status == 200) {\
                document
                .getElementById('lum')
                .innerHTML =
                this.responseText;\
              };\
            };\
            xhttp.open('GET', 'luminosite',
            true);\
            xhttp.send();\
          };\
        &lt;/script&gt;\
      &lt;/body&gt;\
    &lt;/html&gt;" );

    server.<span class="fonction">send</span>( 200, "text/html",
    htmlResponse );
  }
    </pre>
    <p>On fait tenir dans la fonction <span class="code">handleRoot</span> ce qui va être envoyé à la racine du serveur, à savoir la pge web affichant les données. Le contenu est écrit en HTML, avec du CSS placé dans les balises <span class="code">&lt;style&gt;</span> et du Javascript pour gérer la mise à jour des données. En effet nous voulons que notre serveur affiche une page web avec les valeurs lues par nos capteurs en temps réel, ce qui implique nécessairement une mise à jour très fréquente de la page. Cette mise à jour doit se faire aussi bien du côté du serveur (directement au niveau de l'ESP8266 qui lit continuellement les capteurs) que du côté client (vous qui vous connectez au serveur). Avec le Javascript écrit dans le HTML on gère la mise à jour de la page web côté client. Nous y avons écrit trois fonctions, <span class="code">getTemp()</span>, <span class="code">getHum()</span> et <span class="code">getLight()</span>, une par valeur, dont les rôles sont de continuellement envoyer des requêtes HTTP au serveur (à l'ESP8266) pour lui demander ce que valent au moment précis de la requête les valeurs. Pour ce faire, chaque fonction envoie un argument dans sa requête HTTP ('temperature', 'humidite' ou 'luminosite') que le serveur reconnaîtra&nbsp; il réagira alors en conséquence pour chaque requête. C'est de cette façon que nous obtenons les valeurs des capteurs en temps réel. Pour que l'affichage des valeurs sur la page web se mette à jour en continu, on sélectionne en Javascript les balises HTML qui les contiennent à l'aide de la fonction <span class="code">document.getElementById()</span>, et on définit leurs contenus comme étant les valeurs des capteurs que le serveur vient d'envoyer.</p>
    <pre>

  <span class="type">void</span> <span class="fonction">sendTemp()</span> {
    <span class="type">int</span> t = dht.<span class="fonction">readTemperature()</span>;
    <span class="type">String</span> tempValue = <span class="fonction">String</span>(t);
    server.<span class="fonction">send</span>(200, "text/plane",
    tempValue);
  }

  <span class="type">void</span> <span class="fonction">sendHum()</span> {
    <span class="type">int</span> h = dht.<span class="fonction">readHumidity()</span>;
    <span class="type">String</span> humValue = <span class="fonction">String</span>(h);
    server.<span class="fonction">send</span>(200, "text/plane",
    humValue);
  }

  <span class="type">void</span> <span class="fonction">sendLight()</span> {
    <span class="type">int</span> l = <span class="fonction">analogRead</span>(lightPin);
    <span class="type">int</span> lv = <span class="fonction">map</span>(l, 0, 1023, 0, 100);
    <span class="type">String</span> lightValue = <span class="fonction">String</span>(lv);
    server.<span class="fonction">send</span>(200, "text/plane",
    lightValue);
  }
    </pre>
    <p>Côté serveur, ce sont les fonctions <span class="code">sendTemp()</span>, <span class="code">sendHum()</span> et <span class="code">sendLight()</span> qui seront en charge de constituer les réponses aux requêtes HTTP envoyées depuis le côté client. Chacune de ces fonctions lit la valeur qu'on veut récupérer (la température et l'humidité sur le DHT, la luminosité sur la photorésistance) et répond à la requête qui lui correspond en passant la valeur qui vient d'être lue.</p>
    <pre>

  <span class="type">void</span> <span class="fonction">setup()</span> {
    <span class="fonction">pinMode</span>(lightPin, INPUT);
    <span class="type">Serial</span>.<span class="fonction">begin</span>(115200);
    <span class="fonction">delay</span>(10);

    dht.<span class="fonction">begin()</span>;

    <span class="type">Serial</span>.<span class="fonction">println()</span>;
    <span class="type">Serial</span>.<span class="fonction">println()</span>;
    <span class="type">Serial</span>.<span class="fonction">print</span>("Connecting to ");
    <span class="type">Serial</span>.<span class="fonction">println</span>(ssid);

    <span class="type">WiFi</span>.<span class="fonction">begin</span>(ssid, password);

    <span class="type">while</span>(<span class="type">WiFi</span>.<span class="fonction">status()</span> != WL_CONNECTED) {
      <span class="fonction">delay</span>(500);
      <span class="type">Serial</span>.<span class="fonction">print</span>(".");
    }

    <span class="type">Serial</span>.<span class="fonction">println</span>("");
    <span class="type">Serial</span>.<span class="fonction">println</span>("WiFi connected");
    <span class="type">Serial</span>.<span class="fonction">println</span>("IP address: ");
    <span class="type">Serial</span>.<span class="fonction">println</span>(WiFi.localIP());

    <span class="type">server</span>.<span class="fonction">on</span>( "/", handleRoot );
    <span class="type">server</span>.<span class="fonction">on</span>("/temperature", sendTemp );
    <span class="type">server</span>.<span class="fonction">on</span>("/humidite", sendHum );
    <span class="type">server</span>.<span class="fonction">on</span>("/luminosite", sendLight );

    server.<span class="fonction">begin()</span>;
    <span class="type">Serial</span>.<span class="fonction">println</span>( "HTTP server started" );
  }
    </pre>
    <p>Au démarrage du script, on initialise et on fait démarrer les capteurs et on lance la connexion au Wifi. Chose essentielle pour le bon fonctionnement de notre serveur en temps réel, on définit ses routes&nbsp;: avec <span class="code">server.on ( "/", handleRoot );</span> on dit au serveur de lancer la fonction <span class="code">handleRoot()</span> à sa racine (ce qui chargera le contenu de la page web), avec <span class="code">server.on ("/temperature", sendTemp );</span>, <span class="code">server.on ("/humidite", sendHum );</span> et <span class="code">server.on ("/luminosite", sendLight );</span> on dit au serveur de lancer respectivement les fonctions <span class="code">sendTemp()</span>, <span class="code">sendHum()</span> et <span class="code">sendLight()</span> lorsque les arguments "/temperature", "/humidite" et "/luminosite". Une fois tout ceci initialisé, on peut démarrer le serveur avec <span class="code">server.begin()</span>.</p>
    <pre>

  <span class="type">void</span> <span class="fonction">loop()</span> {
    server.<span class="fonction">handleClient()</span>;
  }
    </pre>
    <p>On ne demande à la fonction <span class="code">loop()</span> que de gérer les connexions de clients au serveur.</p>
    <img class="capt" src="{{ url_for('static', filename='server2.png') }}" alt="">

    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
