<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}Cityfab2.docs{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
    <div id="entete">
      <a href="/">Cityfab2.docs</a>
    </div>
    <ul id="menu">
      <li><a href="/ressources_pedagogiques">Ressources pédagogiques</a></li>
      <li>Liens</li>
    </ul>

      <div class="print">
        <a href="/arduino_shield_moteur2.pdf">Version PDF</a>
      </div>
      <div class="previous">
        <p>Arduino</p>
      </div>

      <div class="main">
        <div id="onglets">
          <div id="onglet_circuit" onclick="circuitTop()">Circuit</div>
          <div id="onglet_code" onclick="codeTop()">Code Arduino</div>
        </div>
        <h3>Shields moteur imbriqués</h3>
        <p class="circuitb">La plupart des shields Arduino sont imbriquables. Dans le cas de shields moteur, l'imbrication permet de contrôler un nombre plus important de moteurs depuis une seule carte Arduino.</p>
        <div id="schemas">
          <img id="img_ard16" class="scheme" src="{{ url_for('static', filename='shield2.svg') }}" alt="">
        </div>

        <p class="circuit">Le schéma montre deux shields moteur séparés pour bien montrer le branchement sur chacun mais en réalité les deux shields doivent bien être imbriqués l'un sur l'autre sur l'Arduino.</p>
        <ol>
          <li>Sur le shield du haut, branchez la pile de 9V aux bornes VIN et GND, et le moteur pas-à-pas sur les ports M1 et M2. Attention à bien respecter la polarité (les câbles noirs sur le -, les rouges sur le +).</li>
          <li>Sur le shield à l'étage en-dessous, branchez un moteur à courant continu sur le port M1, et un autre sur le port M2. </li>
          <li>Une fois que les deux shields sont bien empilés l'un sur l'autre et sur l'Arduino, le montage est complet.</li>
        </ol>
        <div id="block_code">
          <p>Code Arduino</p>
          <pre class="code_full">

  <span class="type">#include</span> &lt;Wire.h&gt;
  <span class="type">#include</span> &lt;Adafruit_MotorShield.h&gt;

  <span class="type">Adafruit_MotorShield</span> AFMSbot =
  <span class="type">Adafruit_MotorShield(0x60)</span>;
  <span class="type">Adafruit_MotorShield</span> AFMStop =
  <span class="type">Adafruit_MotorShield(0x61)</span>;

  <span class="type">Adafruit_DCMotor</span> *myMotor1 =
  AFMSbot.<span class="fonction">getMotor</span>(1);
  <span class="type">Adafruit_DCMotor</span> *myMotor2 =
  AFMSbot.<span class="fonction">getMotor</span>(2);

  <span class="type">Adafruit_StepperMotor</span> *myStepper =
  AFMStop.<span class="fonction">getStepper</span>(200, 2);

  <span class="type">void</span> <span class="fonction">setup()</span> {
    AFMSbot.<span class="fonction">begin()</span>;
    AFMStop.<span class="fonction">begin()</span>;

    myMotor1-><span class="fonction">setSpeed</span>(50);
    myMotor1-><span class="fonction">run</span>(FORWARD);
    myMotor1-><span class="fonction">run</span>(RELEASE);

    myMotor2-><span class="fonction">setSpeed</span>(150);
    myMotor2-><span class="fonction">run</span>(FORWARD);
    myMotor2-><span class="fonction">run</span>(RELEASE);
  }

  <span class="type">void</span> <span class="fonction">loop()</span> {
    myMotor1-><span class="fonction">setSpeed</span>(50);
    myMotor1-><span class="fonction">run</span>(FORWARD);

    myMotor2-><span class="fonction">setSpeed</span>(50);
    myMotor2-><span class="fonction">run</span>(BACKWARD);

    myStepper-><span class="fonction">step</span>(100, FORWARD, SINGLE);
    myStepper-><span class="fonction">step</span>(100, BACKWARD, SINGLE);

    myStepper-><span class="fonction">step</span>(100, FORWARD, DOUBLE);
    myStepper-><span class="fonction">step</span>(100, BACKWARD, DOUBLE);

    myStepper-><span class="fonction">step</span>(100, FORWARD, INTERLEAVE);
    myStepper-><span class="fonction">step</span>(100, BACKWARD, INTERLEAVE);

    myStepper-><span class="fonction">step</span>(50, FORWARD, MICROSTEP);
    myStepper-><span class="fonction">step</span>(50, BACKWARD, MICROSTEP);
  }

        </pre>
      </div>

      <h4>LE CODE</h4>
      <pre>

  <span class="type">#include</span> &lt;Wire.h&gt;
  <span class="type">#include</span> &lt;Adafruit_MotorShield.h&gt;

  <span class="type">Adafruit_MotorShield</span> AFMSbot =
  <span class="type">Adafruit_MotorShield(0x60)</span>;
  <span class="type">Adafruit_MotorShield</span> AFMStop =
  <span class="type">Adafruit_MotorShield(0x61)</span>;

  <span class="type">Adafruit_DCMotor</span> *myMotor1 =
  AFMSbot.<span class="fonction">getMotor</span>(1);
  <span class="type">Adafruit_DCMotor</span> *myMotor2 =
  AFMSbot.<span class="fonction">getMotor</span>(2);

  <span class="type">Adafruit_StepperMotor</span> *myStepper =
  AFMStop.<span class="fonction">getStepper</span>(200, 2);
      </pre>
      <p>On commence le script par importer les librairies <span class="code">Wire</span> et <span class="code">Adafruit_MotorShield</span> qui permettront à l'Arduino et aux shields de bien communiquer. Ensuite, comme les deux shields communiquent avec l'Arduino par le protocole I2C, nous devons attribuer un adresse différente à chacun des shields, pour que l'Arduino sache à quel appareil il doit envoyer de l'information. Le shield du bas est donc nommé <span class="code">AFMSbot</span> et a pour adresse <span class="code">0x60</span>, celui du haut est appelé par <span class="code">AFMStop</span> et a pour adresse <span class="code">0x61</span>.<br/>Maintenant que nous avons différencié les deux shields, nous pouvons agir avec chacun séparément. On déclare deux moteurs CC sur le shield du bas, connectés aux ports M1 et M2. Pour le shield du haut, on déclare un objet <span class="code">Adafruit_StepperMotor</span> à l'aide de la fonction <span class="code">AFMStop.getStepper(200, 2)</span>.</p>
      <pre>

  <span class="type">void</span> <span class="fonction">setup()</span> {
    AFMSbot.<span class="fonction">begin()</span>;
    AFMStop.<span class="fonction">begin()</span>;

    myMotor1-><span class="fonction">setSpeed</span>(50);
    myMotor1-><span class="fonction">run</span>(FORWARD);
    myMotor1-><span class="fonction">run</span>(RELEASE);

    myMotor2-><span class="fonction">setSpeed</span>(150);
    myMotor2-><span class="fonction">run</span>(FORWARD);
    myMotor2-><span class="fonction">run</span>(RELEASE);
  }
      </pre>
      <p>Dans la fonction <span class="code">setup()</span>, on fait démarrer les deux shields, puis on initialise les deux moteurs à courant continu en définissant la vitesse de chacun et en les activant brièvement.</p>
      <pre>

  <span class="type">void</span> <span class="fonction">loop()</span> {
    myMotor1-><span class="fonction">setSpeed</span>(50);
    myMotor1-><span class="fonction">run</span>(FORWARD);

    myMotor2-><span class="fonction">setSpeed</span>(50);
    myMotor2-><span class="fonction">run</span>(BACKWARD);

    myStepper-><span class="fonction">step</span>(100, FORWARD, SINGLE);
    myStepper-><span class="fonction">step</span>(100, BACKWARD, SINGLE);

    myStepper-><span class="fonction">step</span>(100, FORWARD, DOUBLE);
    myStepper-><span class="fonction">step</span>(100, BACKWARD, DOUBLE);

    myStepper-><span class="fonction">step</span>(100, FORWARD, INTERLEAVE);
    myStepper-><span class="fonction">step</span>(100, BACKWARD, INTERLEAVE);

    myStepper-><span class="fonction">step</span>(50, FORWARD, MICROSTEP);
    myStepper-><span class="fonction">step</span>(50, BACKWARD, MICROSTEP);
  }
      </pre>
      <p>La fonction <span class="code">loop()</span> fait tourner les deux moteurs CC, chacun dans un sens. Quant au moteur pas-à-pas, on le fait tourner selon différentes phases, avec différents pas. Chargez la boucle sur l'Arduino et observez comment les différentes combinaisons font tourner le moteur pas-à-pas. </p>

    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
