<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}Cityfab2.docs{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
    <div id="entete">
      <a href="/">Cityfab2.docs</a>
    </div>
    <ul id="menu">
      <li><a href="/ressources_pedagogiques">Ressources pédagogiques</a></li>
      <li>Liens</li>
    </ul>

      <div class="print">
        <a href="/arduino_station_meteo.pdf">Version PDF</a>
      </div>
      <div class="previous">
        <p>Arduino</p>
      </div>

      <div class="main">
        <div id="onglets">
          <div id="onglet_circuit" onclick="circuitTop()">Circuit</div>
          <div id="onglet_code" onclick="codeTop()">Code Arduino</div>
        </div>
        <h3>Mini station météo</h3>
        <p class="circuitb">Un écran LCD est très intéressant à utiliser avec un Arduino si on lui fait afficher les valeurs lues par des capteurs. Cela fait sortir le projet de l'ordinateur et le rend appréhendable par des personnes n'ayant aucunement pris part à la programmation.</p>
        <div id="schemas">
          <img id="img_ard13" class="scheme" src="{{ url_for('static', filename='temp_lcd.svg') }}" alt="">
        </div>

        <ol>
          <li>Dans ce projet nous allons lire la valeur perçue par un capteur de température et l'afficher sur un écran LCD, ce qui donnera une mini station météo très sommaire. Le capteur de température a un sens&nbsp;: son côté plat face à vous, branchez la patte de gauche dans le 5V, celle de droite dans le GND, et celle du milieu à la broche A0 de l'Arduino.</li>
          <li>Ensuite, le branchement de l'écran LCD est similaire à celui du projet précédent&nbsp;: en partant de la gauche, les deux premières broches de l'écran doivent être reliées au GND et au 5V. La troisième broche doit être reliée à la patte du milieu d'un potentiomètre (connecté au 5V et au GND de son côté), cela nous permet de régler le contraste de l'écran. La quatrième broche est reliée à la broche digitale 12 de l'Arduino. La cinquième va dans le GND. La sixième se connecte à la broche 11 de l'Arduino. Les onzième à quatorzième broche de l'écran sont à relier respectivement aux broches digitales 5 à 2 de l'Arduino. La quinzième broche est connectée au 5V au travers d'une résistance de 220 Ω, et la seizième broche doit être raccordée au GROUND.</li>
        </ol>

        <div id="block_code">
          <p>Code Arduino</p>
          <pre class="code_full">

  <span class="type">#include</span> &lt;LiquidCrystal.h&gt;

  <span class="type">LiquidCrystal</span> lcd(12, 11, 5, 4, 3, 2);

  <span class="type">const int</span> sensorPin = A0;
  <span class="type">int</span> temperature = 0;

  <span class="type">void</span> <span class="fonction">setup()</span> {
    lcd.<span class="fonction">begin</span>(16, 2);
    <span class="type">Serial</span>.<span class="fonction">begin</span>(9600);
    <span class="fonction">pinMode</span>(sensorPin, INPUT);
  }

  <span class="type">void</span> <span class="fonction">loop()</span> {
    temperature = <span class="fonction">analogRead</span>(sensorPin);
    float voltage = (temperature/1024.0)*5.0;
    float celsius = (voltage - .5) * 100;
    <span class="type">String</span> phrase;
    phrase += "Il fait ";
    phrase += <span class="type">String</span>(celsius);
    phrase += "\xB0";
    phrase += "C";
    lcd.<span class="fonction">print</span>(phrase);
    <span class="fonction">delay</span>(10);
    lcd.<span class="fonction">clear()</span>;
    <span class="type">Serial</span>.println(phrase);
  }
        </pre>
      </div>

      <h4>LE CODE</h4>
      <pre>

  <span class="type">#include</span> &lt;LiquidCrystal.h&gt;

  <span class="type">LiquidCrystal</span> lcd(12, 11, 5, 4, 3, 2);

  <span class="type">const int</span> sensorPin = A0;
  <span class="type">int</span> temperature = 0;
      </pre>
      <p>Dans le script on doit tout d'abord appeler la libraire <span class="code">LiquidCrystal</span> pour communiquer avec l'écran LCD, puis initialiser les broches que nous utiliserons pour l'envoi d'informations. Nous déclarons également la broche du capteur et initialisons la valeur de la température à 0.</p>
      <pre>

  <span class="type">void</span> <span class="fonction">setup()</span> {
    lcd.<span class="fonction">begin</span>(16, 2);
    <span class="type">Serial</span>.<span class="fonction">begin</span>(9600);
    <span class="fonction">pinMode</span>(sensorPin, INPUT);
  }
      </pre>
      <p>Dans le <span class="code">setup()</span> on a simplement besoin de définir le mode de l'écran (16 caractères par ligne, 2 lignes) et de déclarer la broche du capteur comme <span class="code">INPUT</span>.</p>
      <pre>

  <span class="type">void</span> <span class="fonction">loop()</span> {
    temperature = <span class="fonction">analogRead</span>(sensorPin);
    float voltage = (temperature/1024.0)*5.0;
    float celsius = (voltage - .5) * 100;
    <span class="type">String</span> phrase;
    phrase += "Il fait ";
    phrase += <span class="type">String</span>(celsius);
    phrase += "\xB0";
    phrase += "C";
    lcd.<span class="fonction">print</span>(phrase);
    <span class="fonction">delay</span>(10);
    lcd.<span class="fonction">clear()</span>;
    <span class="type">Serial</span>.println(phrase);
  }
      </pre>
      <p>Puis on va continuellement lire la valeur du capteur de température. Comme celle-ci est physiquement un signal analogique, cette donnée brute vaut entre 0 et 1024 aux yeux de l'Arduino. Pour en faire une valeur plus compréhensible d'un humain, nous devons opérer un calcul sur cette valeur. Nous la divisons par 1024 et la multiplions par la tension du circuit (5.0 volts), puis on retire 0.5 et multiplie par 100 cette nouvelle valeur, ce qui nous donnera une température en degrés Celsius correcte.<br/>La valeur que nous envoyons à l'écran LCD doit être du texte,une chaîne de caractères (<span class="code">String</span>), c'est pourquoi nous créons la chaîne de caractères <span class="code">phrase</span> à laquelle nous passons et convertissons en texte la valeur <span class="code">celsius</span>. Une fois la phrase complète composée, nous envoyons le texte à l'écran via <span class="code">lcd.print()</span>. Puis toutes les 10 milli-secondes l'écran est vidé (<span class="code">lcd.clear()</span>) et la boucle recommence. De cette façon on peut lire la température qu'il fait dans la pièce de manière actualisée.</p>

    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
